nav{
  padding:5px
}

nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

 body{
     font-family:Arial;
}

a{
  text-decoration:none;
}

nav a:hover{
  border-bottom:2px solid black;
}

.banner{
  background-color: red;
  color:white;
}


.main{
  font-size:30px;
  color:bLACK;
}