body{
  margin: 0;
  font-family: Arial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; 
}

/* ---------- BANNER ---------- */
nav{
  background-color: rgba(117, 114, 114, 0.426);
  padding: 10px;
  border: 2px solid white;
}

.container{
  display: flex;
  justify-content: space-around;
}

/* ====== NAV BUTTON UPGRADE ====== */
nav a{
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 10px 22px;
  border: 2px solid black;
  border-radius: 10px;
  
  background-color: white;
  transition: 0.35s ease;
  position: relative; 
}

nav a:hover{
  transform: scale(1.08);
  box-shadow: 0 8px 20px white;
  background-color: white;
}

nav a:active{
  transform: scale(0.95);
}

.banner{
  background-color: red;
  color: white;
  text-align: center;
  padding: 20px;
}

.banner h1{
  font-size: 70px;      
  margin-bottom: 10px;
  letter-spacing: 3px; 
}

.flag{
  height: 50px;
}

/* ---------- NAVIGATION ---------- */
nav{
  background-color: rgba(117, 114, 114, 0.426);
  padding: 10px;
  border: 2px solid white;
}

/* ====== NAV BUTTON UPGRADE ====== */
nav a{
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 10px 22px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  transition: 0.35s ease;
  position: relative; 
}

nav a:hover{
  transform: scale(1.08);
  box-shadow: 0 8px 20px white;
  background-color: white;
}

nav a:active{
  transform: scale(0.95);
}

/* ---------- MAIN CONTENT (WITH BACKGROUND IMAGE) ---------- */
.main_culture{
  background-position: center;
  background-size: 1950px;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 1rem 5rem 1rem 2rem;
  background-image: url("tourism.background.\(3\).jpg");  
}

/* ====== TEXT HOVER EFFECT ====== */
.text-box{
  transition: 0.4s ease;
  color: white;                 
  background-color: rgba(0,0,0,0.25);  
  padding: 25px;
  border-radius: 12px;
}

.text-box:hover{
  transform: scale(1.03);                 
  box-shadow: 0 10px 25px rgba(0,0,0,0.25); 
  background-color: rgba(255,255,255,0.95); 
  color: black;
  padding: 25px;
  border-radius: 12px;
}

.image-box img{
  height: 330px;
  border-radius: 30px;
  transition: 0.4s ease;
  cursor: pointer;
  opacity: 0.75;              
  box-shadow: 0 6px 14px rgba(0,0,0,0.2); 
}

.image-box img:hover{
  transform: scale(1.03);                 
  box-shadow: 0 12px 28px rgba(0,0,0,0.35); 
  opacity: 1;                 
}

.image-box p{
  transition: 0.4s ease;               
  background-color: rgba(212, 209, 209, 0.237); 
  color:white; 
  padding: 25px;
  border-radius: 12px;
} 

.image-box p:hover{
  transform: scale(1.03);                 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.289); 
  color:black;
  background:white;
  padding: 25px;
  border-radius: 12px; 
}

.image-box div{
  flex:1;
} 

.image-box div p{
    margin:10px;
} 
/* ---------- FOOTER ---------- */
.footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 0;
}


